{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etpaly_Orders</title>
    <link rel="stylesheet" href="{% static 'en/css/orders.css' %}">
</head>

<body>
    <div class="container">
        <h1>Etbaly Orders List</h1>
        <div class="rwd-table">
            <div class="col-lg-12">
                <div>
                    <h3 style="color: aquamarine;">TOTAL <span> ( {{count}} ) Orders</span></h3>
                    <div class="card card-5">
                        <div class="card-body">
                            <form method="GET" action="#">
                                {% csrf_token %}
                                <!-- {{ myfilter.form }} -->
                                <div class="row row-space">

                                        <div class="input-group">
                                            <label class="label">Company</label>
                                            <input class="input--style-1" type="text" name="customer__company"
                                                placeholder="company name">
                                        </div>
                                        <div class="input-group">
                                            <label class="label">Client</label>
                                            <input class="input--style-1" type="text" name="customer__client"
                                                placeholder="Client name">
                                        </div>
                                        <div class="input-group">
                                            <label class="label">Client Phone</label>
                                            <input class="input--style-1" type="text" name="customer__phone"
                                                placeholder="Client phone">

                                        </div>
                                        <div class="input-group">
                                            <label class="label">Address</label>
                                            <input class="input--style-1" type="text" name="customer__location"
                                                placeholder="Client Address">

                                        </div>
                                </div>
                                <div class="row row-space">
                                    <select class="input-group" name="status">
                                        <option selected>Order_Status</option>
                                        <option value="Created" style="background-color: rgb(233, 253, 253);">Created
                                        </option>
                                        <option value="Confirmed" style="background-color: rgb(237, 248, 118);">Confirmed
                                        </option>
                                        <option value="Processed" style="background-color: rgb(63, 235, 206);">
                                            Processed</option>
                                        <option value="Delivered" style="background-color: rgb(25, 255, 75);">Delivered
                                        </option>
                                        <option value="Returned" style="background-color: rgb(205, 79, 79);">Returned
                                        </option>
                                    </select>
                                    <select class="input-group" name="branch">
                                        <option selected>Order_Branch</option>
                                        <option value="Etbaly_Shokran" style="background-color: rgb(141, 224, 250);" >Etbaly_Shokran
                                        </option>
                                        <option value="Melouk_Eltibah"style="background-color: rgb(141, 224, 250);" >Melouk_Eltibah
                                        </option>
                                        <option value="Print_Square"style="background-color: rgb(141, 224, 2507);" >
                                            Print_Square</option>
                                    </select>
                                    <select class="input-group" name="active">
                                        <option selected>Order_Active</option>
                                        <option value="WhatsApp" style="background-color: rgb(141, 224, 250);" >WhatsApp
                                        </option>
                                        <option value="FaceBook"  style="background-color: rgb(141, 224, 250);">FaceBook
                                        </option>

                                    </select>

                                    <div class="input-group">
                                        <label class="label">Order Number</label>
                                        <input class="input--style-1" type="text" name="id" placeholder="Order Number">
                                    </div>

                                    <div class="col-2">
                                        <button class="btn-submit" type="submit">search</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <h3 class="page-info">Search Results {{page_obj|length}} of {{count}} Orders </h3><br>

        <table class="rwd-table">
            <tbody>
                <tr style="text-align: justify;">
                    <th >
                        <h4>Order</h4>
                    </th>
                    <th>
                        <h4>Branch</h4>
                    </th>
                    <th>
                        <h4>Status</h4>
                    </th>
                    <th>
                        <h4>Active</h4>
                    </th>
                    <th>
                        <h4>Company</h4>
                    </th>
                    <th>
                        <h4>Client</h4>
                    </th>
                    <th>
                        <h4>Phone</h4>
                    </th>
                    <th>
                        <h4>Address</h4>
                    </th>
                    <th>
                        <h4>Designer</h4>
                    </th>
                    <th>
                        <h4>Discount</h4>
                    </th>
                    <th>
                        <h4>Delivery</h4>
                    </th>
                    <th>
                        <h4>Total</h4>
                    </th>
                    
                    <th>
                        <h4>Delivery_Date</h4>
                    </th>
                </tr>

                {% for order in page_obj %}
                <tr>
                    <td data-th="order" style="background-color: rgb(128, 190, 237); color: rgb(3, 150, 164);">
                        <h4><a href="{% url 'order_invoice' order.id %}">
                            {{order}}</a> </h4>
                    </td>
                    <td data-th="Branch"  {% if order.status == 'Created' %} style="background-color: rgb(200, 200, 200);" {% elif order.status == 'Confirmed' %} style="background-color: rgb(237, 248, 118);" {% elif order.status == 'Processed' %} style="background-color: rgb(63, 235, 206);"  {% elif order.status == 'Delivered' %} style="background-color: rgb(25, 255, 75);"  {% elif order.status == 'Returned' %} style="background-color:rgb(205, 79, 79);"  {% endif %} >
                      <b>{{order.branch}}</b>  
                    </td>
                    <td data-th="Order Status" {% if order.status == 'Created' %} style="background-color: rgb(200, 200, 200);" {% elif order.status == 'Confirmed' %} style="background-color: rgb(237, 248, 118);" {% elif order.status == 'Processed' %} style="background-color: rgb(63, 235, 206);"  {% elif order.status == 'Delivered' %} style="background-color: rgb(25, 255, 75);"  {% elif order.status == 'Returned' %} style="background-color:rgb(205, 79, 79);"  {% endif %} >
                        <b>{{order.status}}</b>
                    </td>
                    <td data-th="Active">
                        <b>{{order.active}}</b>
                    </td>
                    <td data-th="Company">
                        <b>{{order.customer}}</b>
                    </td>
                    
                    <td data-th="Client">
                        <b>{{order.customer.client}}</b>
                    </td>
                    <td data-th="Phone">
                        <b>{{order.customer.phone}}</b>
                    </td>
                    <td data-th="Address">
                        <b>{{order.customer.location}}</b>
                    </td>
                    <td data-th="Designer">
                        <b>{{order.designer}}</b>
                    </td>
                    <td data-th="discount">
                        <b>{{order.discount}}</b>
                    </td>
                    <td data-th="Delivery">
                        <b>{{order.Delivery}}</b>
                    </td>
                    <td data-th="Total">
                        <b>{{order.net_total}}</b>
                    </td>
                    
                  
                    <td data-th="Due_Date">
                        <b>{{order.delivery_date|date:'D-d M Y' }}</b>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row" style=" place-items: center;">
            <div class="col-lg-3">
                {% if page_obj.has_previous %}
                <a class="pre" href="?page={{page_obj.previous_page_number}}">Back</a>
                {% endif %}
            </div>

            <div class="col-lg-6">
                <p class="page-item"><a class="page-link active" style="width:130px; border-radius:10px" href="#">
                        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </a></p>
            </div>
            <div class="col-lg-3">
                {% if page_obj.has_next %}
                <a class="nxt" href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</body>

</html>