{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders_DashBoard</title>
    <link rel="stylesheet" href="{% static 'en/css/orders.css' %}">
</head>
<body>
    <div class="container">
        <h1>Etbaly Orders List</h1>
                <div class="rwd-table">
                    <div class="col-lg-12">
                        <div >
                            <h3 style="color: aquamarine;">TOTAL <span> ( {{object_list|length}} ) Orders</span></h3>
                            <div >
                                <form  method="GET" style="color: rgb(231, 242, 135);font: size 75px;;" >
                                    {% csrf_token %}
                                    {{ myfilter.form }}
                                    <button type="submit" class="btn btn-secondary" style="background-color: chartreuse;font-size: large;">Search</button>                                    
                                </form>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
          <table class="rwd-table">
            <tbody>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Status</th>
                <th>Customer</th>
                <th>Phone</th>
                <th>Due_Date</th>
                <th>Sup_Total</th>
                <th>Delivery</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
                <!-- ORDER_STATUS = (
    ('Created' , 'Created') , 
    ('Confirmed' , 'Confirmed') , 
    ('Processed' , 'Processed'),
    ('Shipped','Shipped'),
    < ('Delivered','Delivered') , 
) -->
<!-- {% if order.code == 'Created' %} style="background-color: brown;" {% else %} style="background-color: rgb(42, 140, 165);" {% endif %} --> 

              {% for order in object_list %}
                <tr >
                <td data-th="Order Code">
                  <a href="{% url 'order_invoice' order.slug%}">{{order}}</a>
                </td>
                <td data-th="Order Date">
                    {{order.order_date|date:'D-d M Y' }}
                </td>
                <td data-th="Order Status">
                  {{order.status}}
                </td>
                <td data-th="Customer">
                    {{order.customer.name}}
                </td>
                <td data-th="Phone">
                    {{order.customer.phone}}
                </td>
                <td data-th="Due_Date">
                    {{order.delivery_date|date:'D-d M Y' }}
                </td>
                <td data-th="Sup_Total">
                    {{order.sup_total}}
                </td>
                <td data-th="Delivery">
                    {{order.Delivery_Fee}}
                </td>
                <td data-th="Discount">
                    % {{order.discount}}
                </td>
                <td data-th="Total">
                    {{order.net_total}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        
</body>
</html>